@font-face {
  font-family: "badsignal";
  src: url(../styles/Bad-Signal.otf) format("truetype");
}
@font-face {
  font-family: "CFLCD";
  src: url(../styles/CFLCD-Regular.ttf) format("truetype");
}

#start {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}
#startbutton {
  line-height: 50px;
}
#startbutton span {
  color: white;
}

#inicioCenter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#inicioCenter p {
  font-family: "CFLCD";
  width: 100vw;
  font-size: 24px;
  font-weight: bold;
  width: 300px;
}

#main {
  display: none;
}
body {
  background-image: url("../images/wallpaper.jpg");
  background-size: 100%;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
h1{
  animation: move 1s;
  animation-iteration-count: infinite;
  position: relative;
}
@keyframes move{
  50% {
    transform: translateY(-10px);
  }
}
h1 {
  font-size: 8rem;
  font-family: "badsignal";
  color: black;
  display: flex;
}
.b {
  color: red;
}
.a {
  color: green;
}
.d {
  color: blue;
}

.general-container {
  display: flex;
}
.movieImg {
  position: absolute;
  height: 306px;
  margin-left: 83px;
  margin-top: 81px;
}
#canvasTv {
  position: absolute;
  margin-left: 83px;
  margin-top: 81px;
  border: 1px solid red;
}

.frameTv {
  z-index: 1;
  position: absolute;
  margin: 2rem;
  height: 27rem;
}

#canvasTimeBar {
  margin-left: 40px;
}
.right-block {
  display: flex;
  flex-direction: column;
}
button {
  margin: 1.8rem auto 0 4rem;
  width: 30rem;
  font-family: "CFLCD";
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding: 20px 30px;
  background: green;
  border-radius: 8px;
  border: 3px solid black;
}
#right-block p {
  font-family: "badsignal";
  margin-left: 65px;
  font-size: 60px;
  display: inline-block;
  text-align: center;
}
.level {
  font-size: 80px;
  text-align: center;
  color: red;
}
.points {
  font-size: 80px;
  text-align: center;
  color: blue;
}

#gameover {
  display: none;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

#buttonpoints {
  font-family: "badsignal";
  font-size: 80px;
  color: red;
  margin: 0 auto;
}
